/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #202124; /* Cor de fundo do tema escuro */
  color: #fff; /* Cor do texto */
}

.container {
  display: flex;
}

nav {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #2e3033; /* Cor de fundo do menu */
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff; /* Cor do texto do logo */
}

a {
  position: relative;
  color: #ccc; /* Cor dos links */
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

a:hover {
  background: #3a3c3f; /* Cor de fundo ao passar o mouse */
}

.logout {
  position: absolute;
  bottom: 0;
}

/* Main Section */
.main {
  position: relative;
  padding: 20px;
  width: 100%;
  overflow-x: hidden; /* Adicionei isso para esconder a rolagem horizontal */
  color: #fff; /* Cor do texto */
}

.main-top {
  display: flex;
  width: 100%;
}

.main-top i {
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: #ccc; /* Cor do ícone */
  cursor: pointer;
}

.main-skills {
  display: flex;
  margin-top: 20px;
  gap: 20px; /* Define o espaçamento entre os cartões */
  overflow-x: auto; /* Adiciona rolagem horizontal se os cartões não couberem no contêiner */
}

/* Estilos para cada cartão de habilidade */
.main-skills .card {
  width: 200px;
  background: #2e3033; /* Cor de fundo do cartão */
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

/* Define o estilo do título dentro do cartão */
.main-skills .card h3 {
  margin: 10px;
  text-transform: capitalize;
}

/* Define o estilo do parágrafo dentro do cartão */
.main-skills .card p {
  font-size: 12px;
}

/* Define o estilo do subtítulo dentro do cartão */
.main-skills .card h4 {
  text-transform: capitalize;
}

/* Define o estilo do ícone dentro do cartão */
.main-skills .card i {
  font-size: 22px;
  padding: 10px;
}

/* Efeito de hover para aumentar o tamanho do cartão */
.main-skills .card:hover {
  transform: scale(1.05); /* Aumenta o tamanho do cartão em 5% */
}

/* Estilos para a imagem superior do cartão */
.main-skills .card .card-img-top {
  width: 180px;
  height: 150px;
  text-align: center;
}

/* Courses */
.main-course {
  margin-top: 20px;
  text-transform: capitalize;
}

.course-box {
  width: 100%;
  height: 300px;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  background: #2e3033; /* Cor de fundo da caixa de curso */
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.course-box ul {
  list-style: none;
  display: flex;
}

.course-box ul li {
  margin: 10px;
  color: #ccc; /* Cor do texto dos itens da lista */
  cursor: pointer;
}

.course-box ul .active {
  color: #fff; /* Cor do texto do item da lista ativo */
  border-bottom: 1px solid #fff; /* Cor da linha inferior do item da lista ativo */
}

.course-box .course {
  display: flex;
}

.box {
  width: 33%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: #2e3033; /* Cor de fundo da caixa */
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.box p {
  font-size: 12px;
  margin-top: 5px;
}

.box button {
  background: #000;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}

.box button:hover {
  background: rgba(0, 0, 0, 0.842);
}

.box i {
  font-size: 7rem;
  float: right;
  margin: -20px 20px 20px 0;
}

.html {
  color: rgb(25, 94, 54);
}

.css {
  color: rgb(104, 179, 35);
}

.js {
  color: rgb(28, 98, 179);
}

.carousel {
  width: 100%;
  margin: 0 auto;
  height: fit-content; /* Altura máxima de 25% da altura da página */
}

.custom-file-input {
  display: inline-block;
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: rgb(34, 34, 34);
  background-clip: padding-box;
  border: 1px solid #505050;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.custom-file-input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.custom-file-input::file-selector-button {
  position: relative;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  margin-left: 37%;
  margin-top: 6.5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Botões de navegação */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f1f1f1;
  border: none;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Estilos adicionais */
.btn-primary {
  background-color: #007bff; /* Cor de fundo do botão principal */
  color: #fff;
   /* Cor do texto do botão principal */
}

.btn-primary:hover {
  background-color: #0056b3; /* Cor de fundo do botão principal ao passar o mouse */
}

.btn-success {
  background-color: #28a745; /* Cor de fundo do botão de sucesso */
  color: #fff; /* Cor do texto do botão de sucesso */
}

.btn-success:hover {
  background-color: #218838; /* Cor de fundo do botão de sucesso ao passar o mouse */
}

/* Adicionado para cards */
.card {
  width: 18rem;
  display: inline-block;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.card-img-top {
  width: 200px;
  height: 180px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover .card-title {
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

#calendar {
  max-width: 100%; /* Calendário ocupa no máximo a largura da section */
}

/* Estilos para o popover */
.popover {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.popover-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  margin: 0;
  border-color: transparent;
}

.popover-arrow.top {
  bottom: -8px;
  left: 50%;
  margin-left: -8px;
  border-width: 8px 8px 0;
  border-top-color: #fff;
}

.popover-arrow.left {
  top: 50%;
  right: -8px;
  margin-top: -8px;
  border-width: 8px 8px 8px 0;
  border-left-color: #fff;
}